@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';
@import '../../styles/typography.scss';

.root {
  // font-size: 36px;
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  width: 100%;

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;

    @include layout('desktopSm') {
      flex-direction: row;
    }

    .imgContainer {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      max-width: 450px;
      padding: px(10);
      top: 0;

      @include layout('desktopSm') {
        height: calc(100vh - 2 * #{$layout-margin-desktop});
        max-width: 50%;
        position: sticky;
      }

      .image {
        display: flex;
        filter: grayscale(1);
        max-width: 100%;

        @include layout('desktopSm') {
          max-height: 100%;
        }
      }
    }

    .content {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      padding: px(10) px(25);
      text-align: center;

      @include layout('desktopSm') {
        max-width: 50%;
        text-align: left;
      }

      .section {
        margin-bottom: px(20);

        &:last-child {
          padding-bottom: $layout-margin-desktop;
        }
      }

      .aboutWork,
      .aboutPersonal {
        @include font-style('p1');
      }

      .aboutLists {
        display: flex;
        justify-content: space-evenly;

        @include layout('desktopSm') {
          justify-content: flex-start;
        }

        .social {
          margin-right: px(20);

          .listItem {
            @include font-style('p2');
            margin-bottom: px(3);
          }
        }

        .contact {
          @include font-style('p2');
        }

        .subheading {
          @include font-style('h3');
          margin-bottom: px(10);
        }
      }
    }
  }
}
