@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';
@import '../../styles/typography.scss';

.root {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: $zindex-overlay;

  .shutter {
    background-color: $background-grey;
    height: 100%;
    // opacity: 0;
    position: absolute;
    width: 12.5%;
    transition: all 0.3s ease;
  }

  .container {
    @include transform-center;
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: space-evenly;
    max-height: px(400);
    // opacity: 0;
    position: absolute;
    // @include layout('tablet') {
    //   flex-direction: row;
    //   flex-wrap: nowrap;
    // }

    .item {
      @include font-style(huge);
      display: flex;
      flex-direction: row;
      overflow-x: hidden;
      position: relative;
      width: 100%;

      &:not(:last-child) {
        margin-right: px(64);
      }
      .link {
        color: $white;
        left: 0;
        position: relative;

        .pageCount {
          @include font-style(eyebrow);
          position: absolute;
          transform: rotate(90deg);
          top: px(15);
        }
      }
    }
  }

  &.animateIn {
    .shutter {
      transition: all 0.3s ease;
      opacity: 1;
      width: 0%;
    }
    .item {
      .link {
        left: -110%;
        transition: left 0.3s ease 0.5s;
      }
    }
  }

  &.animateInActive {
    .shutter {
      transition: all 0.3s ease;
      opacity: 1;
      width: 20%;
    }
    .item {
      .link {
        left: 0;
        transition: left 0.3s ease 0.5s;
      }
    }
  }

  &.animateOut {
    .shutter {
      opacity: 1;
      width: 0%;
      transition: width 0.3s ease 0.2s;
    }
    .container {
      opacity: 0;
      transition: opacity 0.3s ease;
      link {
        left: 0;
      }
    }
  }
}
