@import '../../styles/mixins.scss';

.root {
  &.flip {
    transform: scaleX(-1);
    .tile {
      transform: scaleX(-1);
    }
  }

  .row {
    white-space: nowrap;
    will-change: transform;
    .tile {
      box-sizing: border-box;
      display: inline-block;
      padding: 5px 10px;

      @include layout('tablet') {
        padding: 10px 20px;
      }
    }
  }
}
