@import '../../styles/mixins.scss';
@import '../../styles/vars.scss';

.root {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: px(20);
  justify-content: space-evenly;
  outline: none;
  width: px(20);
  z-index: $zindex-menu;

  @include layout('tablet') {
    width: px(30);
  }

  &.isOpen {
    .bar {
      &.top {
        transform: rotate(45deg) translateY(150%);
      }
      &.middle {
        opacity: 0;
        transform: translateX(100%);
      }
      &.bottom {
        transform: rotate(-45deg) translateY(-150%);
      }
    }
  }

  .bar {
    background-color: $dark-gray;
    height: px(2.5);
    max-width: 100%;
    transform-origin: 33.333% 50%;
    transition: all 0.5s ease;
    width: px(35);
  }
}
