@import '../../styles/vars.scss';
@import '../../styles/typography.scss';

.root {
  height: calc(100vh - 2 * #{$layout-margin-mobile});
  overflow: hidden;
  position: relative;
  width: 100%;

  @include layout('tablet') {
    height: calc(100vh - 2 * #{$layout-margin-tablet});
  }
  @include layout('desktopSm') {
    height: calc(100vh - 2 * #{$layout-margin-desktop});
  }

  .slideCount {
    @include font-style('h2');
    bottom: 80px;
    color: $dark-gray;
    position: fixed;
  }
}
