@import '../../styles/vars.scss';
@import '../../styles/typography.scss';

.root {
  height: calc(100vh - 2 * #{$layout-margin-mobile});
  overflow: hidden;
  position: relative;
  width: 100%;

  @include layout('tablet') {
    height: calc(100vh - 2 * #{$layout-margin-tablet});
  }
  @include layout('desktopSm') {
    height: calc(100vh - 2 * #{$layout-margin-desktop});
  }

  .slideIndicator {
    @include font-style('h3');
    align-items: center;
    bottom: 80px;
    display: flex;
    flex-direction: row;
    color: $dark-gray;
    position: fixed;

    .currentSlide,
    .divider,
    .slideCount {
      display: flex;
      flex-direction: column;
    }

    .currentSlide {
      padding-bottom: px(16);
    }

    .divider {
      background-color: $dark-gray;
      display: flex;
      height: px(32);
      margin: 0 px(2);
      transform: rotate(45deg);
      width: 2px;
    }

    .slideCount {
      padding-top: px(16);
    }
  }
}
