@import '../../styles/vars.scss';
@import '../../styles/typography.scss';

.root {
  height: calc(100vh - 4 * #{$layout-margin-mobile});
  overflow: hidden;
  position: relative;
  width: 100%;

  @include layout('tablet') {
    height: calc(100vh - 2 * #{$layout-margin-tablet});
  }
  @include layout('desktopSm') {
    height: calc(100vh - 2 * #{$layout-margin-desktop});
  }

  .slideIndicator {
    @include font-style('h3');
    align-items: center;
    bottom: 70px;
    display: flex;
    flex-direction: row;
    color: $dark-gray;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);

    @include layout('desktopSm') {
      bottom: 80px;
      left: unset;
      transform: none;
    }

    .currentSlide,
    .divider,
    .slideCount {
      display: flex;
      flex-direction: column;
    }

    .currentSlide {
      padding-bottom: px(16);
    }

    .divider {
      background-color: $dark-gray;
      display: flex;
      height: px(32);
      margin: 0 px(2);
      transform: rotate(45deg);
      width: 2px;
    }

    .slideCount {
      padding-top: px(16);
    }
  }

  .scrollIndicator {
    animation: bounce 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
    bottom: 0;
    color: $yellow;
    font-size: px(18);
    left: 50%;
    line-height: px(10);
    position: absolute;
    transform: translateX(-50%);
  }
}

@keyframes bounce {
  0%,
  100% {
    bottom: 0;
  }

  50% {
    bottom: 5px;
  }
}
