.root {
  outline: none;
  position: relative;

  &.inherit {
    display: inherit;
  }

  &.block {
    display: block;
  }

  &.inline {
    display: inline;
    &::before,
    &::after {
      display: inline;
      content: ' ';
    }
  }
}
